<!DOCTYPE html>
<html>
  <head>
    <title>BassGuitars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!-- Tap Bar -->
    <div class="wrapper-nav">
      <%= link_to basses_path  do %>
        <i class="fas fa-info-circle"></i>
      <% end %>
      <%= link_to basses_path  do %>
        <i class="fas fa-caravan"></i>
      <% end %>
      <%= link_to new_bass_path  do %>
        <i class="fas fa-plus-square"></i>
      <% end %>
    </div>
  </body>
</html>
